a {
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
  width: 100%;
  height: 100px;
  background-image: url(https://unsplash.com/photos/_HJNQCoXVkU);
  background-size: contain;
}

.navbar {
  display: inline-block;
  align-items: center;
}

.navbar a {
  color: #530231;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.navbar .nav-header {
  display: block;
  color: #530231;
  padding: 0 50px;
  font-size: 50px;
}

.navbar ul li a {
  color: #530231;
  padding: 50px;
  display: block;
}

.navbar ul a:hover,
.navbar ul a:focus {
  background-color: #ffdcf0;
}

@media screen and (max-width: 768px) {
  header {
    background-color: thistle;
  }
  .navbar {
    text-align: center;
    padding: 20px;
  }
  .navbar ul li a {
    padding: 20px;
    flex-wrap: nowrap;
    flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  header {
    background-color: thistle;
  }
  .nav-header {
    text-align: start;
    margin: 0;
    padding-left: 0;
  }
  .navbar {
  }

  .navbar ul {
  }
  .navbar ul li a {
  }
}
