/*elements universal across the page*/

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/*elements for the header and nav bar*/
header {
  background-image: url("../assets/images/mountains-header-2.jpg");
  min-height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar {
  display: inline-block;
  align-items: center;
}

.navbar a {
  color: #fdebf6;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.navbar .nav-header {
  color: #fdebf6;
  padding: 10px 50px;
  font-size: 50px;
}

.navbar ul li a {
  color: #fdebf6;
  padding: 10px;
  margin: 20px;
  font-size: 30px;
  display: flex;
  flex: 25%;
  justify-content: space-around;
}

.navbar ul a:hover,
.navbar ul a:focus {
  background-color: #f8e6f0;
  color: #530231;
}

/*images*/
img {
  display: flex;
  max-width: 300px;
  max-height: 300px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.column {
  float: left;
  background-color: black;
  width: 25%;
  padding: 5px;
  align-items: center;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#main-project {
  max-width: 500px;
  max-height: 500px;
  border: 2px solid black;
}

/*body and section styling*/

body {
  border: 5px solid black;
  background-color: #ffffff;
}

section {
  margin: 10px;
  padding: 20px;
}

.row2 {
  display: flex;
}

.col-12 {
  display: block;
  flex: 3 1 0;
}

.col-4 {
  display: flex;
  float: none;
}

#about-me-section {
  background-color: ivory;
  border: 2px solid black;
  font-size: 18px;
  line-height: 1.5;
}

#my-work-section {
  background-color: rgb(238, 170, 227);
}

#resume-section {
  background-color: ivory;
  margin: 5px;
  padding: 5px;
  border: 2px solid black;
}

#contact-section {
  background-color: ivory;
  margin: 5px;
  padding: 5px;
  border: 2px solid black;
}

#email:hover,
#github:hover,
#linkedin:hover {
  cursor: pointer;
}

/*media queries*/

@media screen and (max-width: 768px) {
  header {
    background-image: none;
    background-color: thistle;
  }
  .navbar {
    float: left;
    display: block;
    color: #530231;
    padding: 20px;
  }
  .nav-header {
    color: #530231;
  }
  .navbar ul li a {
    color: #530231;
    padding: 10px;
    font-size: 20px;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .column {
    flex: 50%;
    float: left;
    display: block;
    padding: 10px;
    width: 50%;
  }

  .row {
    display: flex;
  }

  img {
    min-width: 200px;
    min-height: 200px;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 576px) {
  header {
    background-color: thistle;
  }

  .column {
    width: 100%;
  }

  .row {
    flex-direction: column;
  }

  .nav-header {
    color: #530231;
    text-align: center;
    margin: 0;
    padding-left: 0;
  }
  .navbar {
    display: flex;
    color: #530231;
    text-align: center;
    justify-content: space-between;
  }
  .navbar ul li a {
    color: #530231;
    padding: 10px;
  }
}
